<ion-view style="" id="page4" title="AtMyPlace">
    <ion-content class="has-header" padding="true">
        <form class="list" id="atMyPlace-form1" ng-submit="loginForm(user)">
            <h2 style="color: rgb(52, 50, 164);" id="atMyPlace-heading1">Iniciar sesión</h2>
            <ion-list id="atMyPlace-list1">
                <label id="atMyPlace-input1" class="item item-input">
                    <span class="input-label">Alias</span>
                    <input placeholder="" type="text" ng-model="user.nickname">
                </label>
                <label id="atMyPlace-input2" class="item item-input">
                    <span class="input-label">Contraseña</span>
                    <input placeholder="" type="password" ng-model="user.pass">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <input type="submit" class="button button-positive  button-block" id="atMyPlace-button1" value="Iniciar Sesión"> <!--ui-sref="funciones.luces"-->
            <button class="button button-positive  button-block button-clear" id="atMyPlace-button2" ui-sref="atMyPlace2">Crear nueva cuenta</button>
        </form>
    </ion-content>
</ion-view>
