<ion-view title="Camara" hide-nav-bar="true" id="camara">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="camara-heading5" style="color:#000000;text-align:center;">Cámara</h3>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <img class="icon ion-image" id="img" src="" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <button id="camara-button9" class="button button-positive  button-block" ng-click="request()">Tomar foto</button>
    </ion-content>
</ion-view>