<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu style="background-color:#FFFFFF;" side="left" id="side-menu21">
        <ion-header-bar class="bar-dark">
            <div class="title">Funciones</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="funciones-list2">
                <ion-item style="" menu-close="" ui-sref="funciones.luces" id="funciones-list-item1">Luces</ion-item>
                <ion-item style="" menu-close="" ui-sref="funciones.puertas" id="funciones-list-item2">Puertas</ion-item>
                <ion-item style="" menu-close="" ui-sref="funciones.cMara" id="funciones-list-item3">Cámara</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>