<ion-view style="" id="page1" title="Luces">
    <ion-content class="has-header" padding="true">
        <div style="width: 286px; height: 29px;" class="spacer"></div>
        <form class="list" id="luces-form2">
            <h3 style="color: rgb(52, 50, 164); font-weight: 400; text-align: center;" id="luces-heading2">Control de luces por áreas</h3>
            <div style="width: 286px; height: 60px;" class="spacer"></div>
            <ion-toggle name="lpb" id="luces-toggle1" toggle-class="toggle-positive">Luz planta baja</ion-toggle>
            <ion-toggle name="lpa" id="luces-toggle4" toggle-class="toggle-positive">Luz planta alta</ion-toggle>
            <ion-toggle name="la" id="luces-toggle2" toggle-class="toggle-positive">Luz entrada</ion-toggle>
            <ion-toggle name="la" id="luces-toggle5" toggle-class="toggle-positive">Luz entrada</ion-toggle>
            <ion-toggle name="la" id="luces-toggle6" toggle-class="toggle-positive">Luz entrada</ion-toggle>
        </form>
    </ion-content>
</ion-view>