<ion-view style="" id="page2" title="Puertas">
    <ion-content class="has-header" padding="true">
        <div style="width: 286px; height: 12px;" class="spacer"></div>
        <h3 style="color: rgb(52, 50, 164); text-align: center;" id="puertas-heading3">Estado actual de puertas</h3>
        <div style="width: 286px; height: 36px;" class="spacer"></div>
        <button class="button button-positive  button-block" style="border-radius:10px 10px 10px 10px;" id="puertas-button3">Realizar solicitud</button>
        <div style="" id="puertas-list-item-container2" class="item item-body">
            <div style="margin-top:0px;color:#000000;" id="puertas-markdown2"></div>
        </div>
    </ion-content>
</ion-view>