<ion-view title="Tabs Controller" hide-nav-bar="true" hide-back-button="true" id="menu">
    <ion-tabs class="tabs-positive tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Luces" icon="ion-lightbulb" href="#/menu/luces" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Puertas" icon="ion-home" href="#/menu/puertas" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cámara" icon="ion-ios-camera" href="#/menu/camara" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Mapa" icon="ion-android-map" href="#/menu/mapa" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>