<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard';" ng-controller="DashboardCtrl">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Estadisticas totales</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-primary">
                            <div class="content">
                                <i class="fa fa-thumbs-up icon-lg"></i>
                                <h2 count-to="{{likes}}" value="0" duration="2" class="number_counter ng-scope">{{likes}}</h2>
                                <div class="clearfix"></div>
                                <span>Likes</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-accent">
                            <div class="content">
                                <i class="fa fa-user icon-lg"></i>
                                <h2 count-to="{{estadisticas.usuarios}}" value="0" duration="2" class="number_counter ng-scope">{{estadisticas.usuarios}}</h2>
                                <div class="clearfix"></div>
                                <span>Clientes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-warning">
                            <div class="content">
                                <i class="fa fa-comments icon-lg"></i>
                                <h2 count-to="{{estadisticas.comentarios}}" value="0" duration="2" class="number_counter ng-scope">{{estadisticas.comentarios}}</h2>
                                <div class="clearfix"></div>
                                <span>Comentarios</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-info">
                            <div class="content">
                                <i class="fa fa-usd icon-lg"></i>
                                <h2 count-to="{{estadisticas.ganancias}}" value="0" duration="2" class="number_counter ng-scope">{{estadisticas.ganancias}}</h2>
                                <div class="clearfix"></div>
                                <span>Ganancias</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-success">
                            <div class="content">
                                <i class="fa fa-shopping-cart icon-lg"></i>
                                <h2 count-to="{{estadisticas.ordenAct}}" value="0" duration="2" class="number_counter ng-scope">{{estadisticas.ordenAct}}</h2>
                                <div class="clearfix"></div>
                                <span>Ordenes pendientes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-danger">
                            <div class="content">
                                <i class="fa fa-bank icon-lg"></i>
                                <h2 count-to="{{estadisticas.ordenFin}}" value="0" duration="2" class="number_counter ng-scope">{{estadisticas.ordenFin}}</h2>
                                <div class="clearfix"></div>
                                <span>Ordenes retiradas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="visibility:hidden">
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="tile-counter bg-secondary">
                            
                            <div class="content">
                                <div class="star">
                                    <i class="material-icons  icon-sm" ng-class="">{{estadisticas.valoracion>=1? 'star':'star_border'}}</i>
                                    <i class="material-icons  icon-sm" ng-class="">{{estadisticas.valoracion>=2? 'star':'star_border'}}</i>
                                    <i class="material-icons  icon-sm" ng-class="">{{estadisticas.valoracion>=3? 'star':'star_border'}}</i>
                                    <i class="material-icons  icon-sm" ng-class="">{{estadisticas.valoracion>=4? 'star':'star_border'}}</i>
                                    <i class="material-icons  icon-sm" ng-class="">{{estadisticas.valoracion>=5? 'star':'star_border'}}</i>
                                </div>
                                <span>Valoracion</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Estado de las mangas</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15" >
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div ng-repeat="estacion in estaciones">
                            <div ng-repeat="manga in estacion.mangas">
                                <h4 class='margin-bottom-10'>{{manga.producto.nombre}}</h4>
                                <uib-progress class='progress-striped active'>
                                    <uib-bar value="getOk(manga)" type='success'>
                                        <span ng-hide="getOk(manga) < 5">
                                            {{getOk(manga)}}%
                                        </span>
                                    </uib-bar>
                                    <uib-bar value="getReservado(manga)" type='warning'>
                                        <span ng-hide="getReservado(manga) < 5">
                                            {{getReservado(manga)}}%
                                        </span>
                                    </uib-bar>
                                    <uib-bar value="getAgotado(manga)" type='danger'>
                                        <span ng-hide="getAgotado(manga) < 5">
                                            {{getAgotado(manga)}}%
                                        </span>
                                    </uib-bar>
                                </uib-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
