<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Combos';">
    <div class="col-lg-12" ng-controller="FormXeditableCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Combos</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered">
                            <tr style="font-weight: bold">
                                <td style="width: 14%">Nombre</td>
                                <td style="width: 26%">Descripcion</td>
                                <td style="width: 8%">Vaso</td>
                                <td style="width: 8%">Foto</td>
                                <td style="width: 36%; padding:0px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="width:100%; padding:0px;" >
                                        <table class="table">
                                            <tr>
                                                <td style="width:25%">Estacion</td>
                                                <td style="width:25%">Ingrediente</td>
                                                <td style="width:25%">Porcion</td>
                                                <td>Editar</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td style="width: 8%">Editar</td>
                            </tr>
                            <tr ng-repeat="combo in combos">
                                <td class="v-middle">
                                    <span editable-text="combo.nombre" e-name="nombre" e-form="rowform" e-required>
                                        {{ combo.nombre}}
                                    </span>
                                </td>
                                <td class="v-middle">
                                    <span editable-text="combo.descripcion" e-name="descripcion" e-form="rowform" e-required>
                                        {{ combo.descripcion}}
                                    </span>
                                </td>
                                <td>
                                    <span editable-select="combo.vaso" e-name="vaso" e-form="rowform"
                                          e-ng-options="s.nombre as s.nombre for s in vasos" e-required>
                                        {{combo.vaso}}
                                    </span>
                                </td>
                                <td>
                                    <span editable-text="combo.foto" e-name="foto" e-form="rowform" e-required>
                                        <img ng-src="{{combo.foto}} " ng-show="combo.foto" style="max-width:100%;max-height:100%;">
                                    </span>
                                </td>
                                <td style="width:100%; padding:0px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" style="width:100%; padding:0px;">
                                        <table class="table table-striped">
                                            <tr ng-repeat="ingrediente in combo.ingredientes" >
                                                <td style="width:30%">
                                                    <span editable-select="ingrediente.nombreEstacion" e-name="estacion" e-form="subform"
                                                          e-ng-options="s.nombre as s.nombre for s in estaciones" e-required>
                                                        {{ingrediente.nombreEstacion}}
                                                    </span>
                                                </td>
                                                <td style="width:30%">
                                                    <span editable-select="ingrediente.nombreManga" e-name="manga" e-form="subform"
                                                          e-ng-options="s.producto.nombre as s.producto.nombre for s in getMangas(ingrediente.nombreEstacion)" e-required>
                                                        {{ingrediente.nombreManga}}
                                                    </span>
                                                </td>
                                                <td style="width:20%">
                                                    <span editable-select="ingrediente.tipoPorcion" e-name="porcion" e-form="subform"
                                                          e-ng-options="s.value as s.name for s in porciones" e-required>
                                                        {{showPorcion(ingrediente)}}
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap; width:20%;">
                                                    <!-- form -->
                                                    <form editable-form name="subform" onaftersave="postCombo($parent.$index)" ng-show="subform.$visible" class="form-buttons form-inline">
                                                        <button type="submit" ng-disabled="subform.$waiting" class="btn btn-xs btn-info">
                                                            <i class="material-icons">done</i>
                                                        </button>
                                                        <button type="button" ng-disabled="subform.$waiting" ng-click="subform.$cancel()" class="btn btn-xs btn-default">                                        
                                                            <i class="material-icons">clear</i>
                                                        </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!subform.$visible">
                                                        <button class="btn btn-xs btn-info" ng-click="subform.$show()">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button class="btn btn-xs btn-danger" ng-click="deleteIngrediente($parent.$index,$index)">
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-primary btn-sm" style="margin:10px;" ng-click="putIngrediente($index)">Agregar ingrediente</button>
                                    </div>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="postCombo($index)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-info">
                                            <i class="material-icons">done</i>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-xs btn-default">                                        
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="btn btn-xs btn-info" ng-click="rowform.$show()">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn btn-xs btn-danger" ng-click="deleteCombo($index)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-primary btn-sm" ng-click="putCombo()">Nuevo combo</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
