<style>
    .editable-has-buttons.editable-input.form-control.input-sm{width:100%;padding:0px;margin:0px;}
    .editable-controls.form-group{width:100%;padding:0px;margin:0px;}
    .editable-wrap{width:85%;padding:0px;margin:0px;}
</style>
<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Configuracion';" ng-controller="FormXeditableCtrl">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Informacion</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">Que somos</label>
                            <div class="controls">
                                <p class="form-control-static">
                                    <a editable-textarea="info.quesomos" e-rows="5">
                                        {{ info.quesomos || 'sin descricion' }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mision</label>
                            <div class="controls">
                                <p class="form-control-static">
                                    <a editable-textarea="info.mision" e-rows="5">
                                        {{ info.mision || 'sin descripcion' }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Vision</label>
                            <div class="controls">
                                <p class="form-control-static">
                                    <a editable-textarea="info.vision" e-rows="5">
                                        {{ info.vision || 'sin descripcion' }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" ng-click="postInfo()">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Contacto</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">E-mail</label>
                            <div class="controls">
                                <a editable-email="info.email">
                                    {{ info.email || 'sin email' }}
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Telefono</label>
                            <div class="controls">
                                <a editable-tel="info.telefono" e-pattern="(+506)\d{4}\-\d{4}" e-title="(+506)xxxx-xxxx">
                                    {{ info.telefono || 'sin telefono' }}
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Direccion</label>
                            <div class="controls">
                                <p class="form-control-static">
                                    <a editable-textarea="info.ubicacion" e-rows="5">
                                        {{ info.ubicacion || 'sin direccion' }}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mapa</label>
                            <div class="controls">
                                <p class="form-control-static">
                                    <a editable-textarea="info.mapa" e-rows="5">Editar mapa</a>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" ng-click="postInfo()">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Mapa</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div style="height: 70vh">
                    <div class="map" ng-bind-html="info.mapa | rawHtml"> 
                    </div>
                </div>
        </section>
    </div>
</div>
