<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Estadisticas';">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box collapsed ">
            <header class="panel_header">
                <h2 class="title pull-left">Comentarios populares</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div style="height: 70vh">
                       <iframe frameborder="0" src="http://ubuntu-zoomdata.eastus.cloudapp.azure.com/zoomdata/visualization?__target=embedded&key=57361223e4b084b4bfbf123c#57361222e4b084b4bfbf1239" style="overflow: hidden; height: 100%; width: 100%"></iframe>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box collapsed ">
            <header class="panel_header">
                <h2 class="title pull-left">Tendencia de usuarios</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div style="height: 70vh">
                       <iframe frameborder="0" src="http://ubuntu-zoomdata.eastus.cloudapp.azure.com/zoomdata/visualization?__target=embedded&key=5748ec23e4b06768ad4b1c9b#5748e8dde4b06768ad4af554" style="overflow: hidden; height: 100%; width: 100%"></iframe>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box collapsed ">
            <header class="panel_header">
                <h2 class="title pull-left">Comportamiento de ordenes en el tiempo</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div style="height: 70vh">
<iframe frameborder="0" src="http://ubuntu-zoomdata.eastus.cloudapp.azure.com/zoomdata/visualization?__target=embedded&key=57493d3ce4b0dd8cc9064d53#57493d3ae4b0dd8cc9064d4e" style="overflow: hidden; height: 100%; width: 100%"></iframe>            </div>
        </section>
    </div>
</div>