<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Mensajes';">
    <div class="col-lg-12" ng-controller="MailCtrl">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 padding-right-0">
                        <div class="mail-wrapper">
                            <ul class="list-unstyled mail_tabs">
                                <li ng-repeat="fold in folds" ui-sref-active="active">
                                    <a ui-sref="app.mail.list({fold:fold.filter})">
                                        <i class="fa {{fold.icon}}"></i> {{fold.name}} <span class="badge badge-{{fold.badge}} pull-right" ng-show="fold.count != ''">{{fold.count}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9  padding-left-0">
                           
                        <div class="mail_content">
                            <div class="row">
                                <div ui-view class="fade-in"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
